<ion-content>

    <div class="wrapper">
      <div class="header">
  
        <div class="row1">Suvai</div>
        <div class="row2">Suvai - Guest Survey app</div>
        <div class="row3">for food caterers</div>
      </div>
      <div class="main fill">
        <div class="row1">
          <span class="label">
            SIGN UP
          </span>
          
        </div>
        <div class="row2">
          <ion-input placeholder="Enter your Mobile Number"  class="input-text-align"></ion-input>
        </div>
        <div class="row3">
          <ion-row center >
            <ion-col text-center class="test">
              <ion-button expand="block" fill="solid" shape="round" class="button-align"
              (click)="setPassword()"  type="button" name="action" color="primary">PROCEED</ion-button>
            </ion-col>
          </ion-row>
        </div>
     
  
      </div>
    
    </div>
  
  </ion-content>
  
  