.wrapper {



    min-height: 100%;
    display: grid;
   

    .header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr 1fr;
        background-color: #f8c045;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        .row1 {
            display: grid;
            justify-content: center;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
            color: #ffffff;
        }

    }

    .new-survey {
        padding-top: 1rem;
    }

    .main {
        display: grid;
        background-color: #ffffff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        grid-template-rows: auto 60px 1fr auto;
        background-image: url('/assets/food-bg.jpg');
        padding-left: 1rem;
        padding-right: 1rem;

        .row1,
        .row2,
        .row3
            {
            justify-content: center;
            align-self: center;
            text-align: center;
        }



        .row1 {
            .about-us {
                display: grid;
                padding: 1rem;
                font-size: 1.5rem;
                font-weight: 500;
                
            }

        }

        .row3 {
           
        }


    }


    .fill {
        overflow: hidden;
        background-size: cover;
        background-position: center;
        // background-image: url('path/to/image.jpg');
    }

    .input-text-align {
        width: 60%;

        display: inline-block;
        border-bottom: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        text-align: left;
        padding-left: 10px !important;
    }

    .button-align {
        width: 60%;
        margin: 0 auto;
    }

    .small-textbox {
        width: 50px !important;

    }

    .text {
        padding-left: 30px;
        padding-right: 30px;
    }

}


.my-custom-menu {
    --width: 500px;
  }