<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Suvai
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>

    <div class="wrapper">
    
      <div class="main fill">
         
        <div class="row1">
          <span class="about-us">
              வணக்கம்
          </span>
          
        </div>
        <div class="row2">
            உங்கள் முதல் சர்வே உருவாக்குங்கள் 
            <ion-row center >
                <ion-col text-center class="new-survey">
                  <ion-button expand="block" fill="solid" shape="round" class="button-align"
                  (click)="startSurvey()"  type="button" name="action" color="primary">+ புதிய சர்வே</ion-button>
                </ion-col>
              </ion-row>
        </div>
       
     
   
      </div>
    
    </div>
  
  </ion-content>
  
  