<ion-content overflow-scroll="true">
  <div class="wrapper">
    <div class="userinfo">
      <div class="user-name">

        <div class="surv-head">
          &nbsp;
        </div>
        <div class="close">
        
          <img  (click)="close()" *ngIf="!endsurvey" src="/assets/images/cancel.svg" width="20px" height="20px">

          <img  (click)="stop()" *ngIf="endsurvey" src="/assets/images/cancel.svg" width="20px" height="20px">

        </div>
      </div>

      <div class="logo-head">
        
        <img src="{{imageUrl}}{{company_logo}}"  >
      </div>


    </div>



    <div class="card" >
      <form [formGroup]="submitForm">
        <div class="question" *ngIf="!endsurvey && !showcontactsection">


          <div class="quest">
            <div class="sub-caption"> {{addIndex + 1}} / {{totalquestions}} </div>
            {{keysArr[addIndex]}}
          </div>

        </div>
        <div *ngIf="(result !== undefined && (!endsurvey && !showcontactsection))">
          <div *ngFor="let item1 of result[keysArr[addIndex]]">
            <div class="style-btn" [class.highlighted]="item1.optionid === this.selectedoptionArr[addIndex]"
              (click)="onClick(item1, addIndex)">

              <span *ngIf="item1.res_options === 'Other'" >
                  {{ 'SURVEY_MODE.other_comments' | translate }}
              </span>
              <span *ngIf="item1.res_options !== 'Other'" >
                  {{item1.res_options}}
              </span>

            
            </div>
          </div>

          <div class=row2 *ngIf="showother">
            <ion-textarea rows="4" cols="20" formControlName="otherresponse" class="textareacss"
              placeholder="{{ 'SURVEY_MODE.enter_feedback' | translate }}">
            </ion-textarea>
          </div>

          <div class="navigation">
            <div class="left">
              <img *ngIf="showprev" (click)="prev()" src="/assets/images/left-arrow.svg" width="48px" height="48px">
            </div>
            <div class="right">
              <img *ngIf="!endsurvey && !showdone" (click)="next(addIndex)" src="/assets/images/right-arrow.svg"
                width="48px" height="48px">
              <img *ngIf="showdone" (click)="done(addIndex)" src="/assets/images/check.svg" width="48px" height="48px">

            </div>
          </div>


        </div>

        <div *ngIf="endsurvey" class="end-survey">
          <div class="thanks">
            {{ 'SURVEY_MODE.thanks' | translate }}
          </div>

          <div class="new-guest">
            <ion-row center>
              <ion-col text-center>
                <ion-button expand="block" fill="solid" shape="round" class="button-align" 
                  (click)="newGuest()" *ngIf="guestorcustomer === 'guest'" 
                  type="button" name="action" color="primary">{{ 'SURVEY_MODE.next_guest' | translate }}</ion-button>

                  <ion-button expand="block" fill="solid" shape="round" class="button-align" 
                  (click)="newGuest()"  *ngIf="guestorcustomer === 'customer'"
                  type="button" name="action" color="primary">{{ 'SURVEY_MODE.next_customer' | translate }}</ion-button>


              </ion-col>
            </ion-row>
          </div>
          <div class="stop">
            <div class="msg">

              {{ 'SURVEY_MODE.made_by' | translate }}
            </div>
            <div class="logo">
              <img src="/assets/images/survey-team-logo.png" >
            </div>
            <div class="msg">
              <img src="/assets/images/phone.svg" width="20px" height="20px%"> 9731616386
            </div>

         
          </div>
        </div>


        <div *ngIf="showcontactsection" class="end-survey">
          <div class="thanks">
            
              {{ 'SURVEY_MODE.contact_details' | translate }}
          </div>

          <div class="name">
            <ion-item class="text-style">
              <ion-label position="stacked" class="label-style">
                  {{ 'SURVEY_MODE.name' | translate }}
              </ion-label>
              <ion-input formControlName="name" clearInput placeholder="{{ 'SURVEY_MODE.enter_name' | translate }}">
              </ion-input>

            </ion-item>
           
          </div>
          <div class="phone">
            <ion-item class="text-style">
              <ion-label position="stacked" class="label-style">
                  {{ 'SURVEY_MODE.phone' | translate }}
              </ion-label>
              <ion-input formControlName="phone" clearInput placeholder="{{ 'SURVEY_MODE.enter_phone_num' | translate }}"></ion-input>

            </ion-item>

          </div>
          <br>
          <div class="button">

            <img *ngIf="showdone" (click)="done(addIndex)" src="/assets/images/check.svg" width="48px" height="48px">

          </div>


        </div>
      </form>
    </div>



  </div>
</ion-content>