.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  background-color: #ffffff;
  min-height: 100vh;
  height: auto;
}

.userinfo {
  padding: 1rem 1rem 0rem 1rem;
  // height: 200px;
  // max-height: 300px !important;
}

.card {
  display: grid;
 height: auto;
  background-color: #ffffff;
  text-align: center;
}

.logo {
   

  @media screen and  (max-width: 767px) {
   height: 52px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    height: 80px !important;
  }
}

.msg {
  padding: 1rem 1rem 0.2rem 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #666666;
}

.stop {
  margin-top: 3rem;
}

.style-btn {
  
  justify-items: center;
  padding: 0.5rem;
  margin: 24px auto;

  border: 3px solid var(--ion-color-primary);
  color: var(--ion-color-primary);
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;

  width: 70%;
  text-transform: capitalize;

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 50%;
  }
}

.highlighted {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  background-color: var(--ion-color-primary);
  color: #ffffff;
}



.navigation {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;

  .left {
    display: grid;
    text-align: right;
    justify-items: right;
    margin-right: 10px;
  }

  .right {
    display: grid;
    text-align: left;
    justify-items: left;
    margin-left: 10px;
  }
}





.user-name {
  display: grid;
  grid-template-columns: 1fr 30px;
  justify-items: stretch;
}

.close {
  text-align: right;
  justify-self: end;
}

.surv-head {
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  padding: 0.3rem;
  text-align: center;
}

.logo-head {
  text-align: center;
  height: auto;
 // min-height: 280px !important;
}

.question {
  display: grid; 
  grid-template-columns: 1fr;
  padding: 0.5rem;
  padding-bottom: 0px;
  padding-top: 0px;
  font-size: 1.2rem;
  font-weight: 600;
  z-index: 99;
}

.sub-caption {
  font-size: 0.8rem;
  font-family: 'Lato';
  font-weight: 200;
  color: #525050;
  text-align: center;
}

.end-survey {
  display: grid;
  grid-template-columns: 1fr;

}

.button-align {
  width: 60%;
  margin: 0 auto;
}

.thanks {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.quest {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: #333333;
  padding: 0.5rem;
  text-align: center;
  text-transform: capitalize;
  background-color: #ffffff;
  opacity: 0.9;
  border-radius: 10px;
  line-height: 28px;
}

.num {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: #333333;
  padding: 0.5rem;
  text-align: left;
  text-transform: capitalize;
  background-color: #ffffff;
  opacity: 0.9;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}



ion-content {
  --ion-background-color: #ffffff;
}

ion-item {
  --ion-background-color: #ffffff;
}

.text-style {
  width: 80%;
  margin: auto;
}

.textareacss {
  border: 1px solid grey;
  width: 90%;
  margin: 0 auto;
  border-radius: 8px;
  background-color: white;
  text-align: left;
  padding: 0.5rem;
}

.row2 {
  padding-bottom: 0.5rem;
}


