
  .style-btn {
    padding: 0.5rem;
    margin: 1rem;
    background-color: blue;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 4px;

  }

  .card {
      display: inline-table;
      position: relative;
    
    top: 5vh;
      width: 90%;
      height: 500px;
      justify-self: center;

      
      text-align: left;
      background-color: rgba(255, 251, 240, 1);
      box-shadow: 0px 5px 10px 0px rgba(170, 170, 170, 1);
      border: 1px solid rgba(255, 255, 255, 0);
  }

.wrapper {
    display: grid;
  grid-template-columns: 1fr;
  height: 30vh;
  
  background-color: #FBC02D;

}

.userinfo{
    padding: 1rem;
}

.user-name{
    display: grid;
    grid-template-columns: 1fr 30px;
    justify-items: stretch;
}

.close {
text-align: right;
justify-self: end;
}

.companyname {
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    padding: 0.3rem;
    text-align: left;
}
.phone {
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    padding: 0.3rem;
    text-align: left;
}

.question{
    display: grid;
    grid-template-columns: 32px 1fr;
    padding: 1rem;
    font-size: 1.2rem;
}

.end-survey {
    display: grid;
    grid-template-columns: 1fr;

}

.button-align {
    width: 60%;
   margin: 0 auto;
}

.thanks {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}