.pollbar {
    height: 10px;
    background: #ff8a00;
    margin: 0.1rem;
    border-radius: 10px;
    
}

.poll-result {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0.1rem;
}


  .card {
    display: grid;
   
    width: 90%;
    height: auto;
    justify-self: center;
    text-align: left;
    background-color:#ffffff;
    

    grid-template-columns: 1fr;
    grid-template-rows: 100px auto;
  }

.wrapper {
    display: grid;
  grid-template-columns: 1fr;
  height: 250px;
  
  background-color: #ffffff;

}

.userinfo{
    padding: 1rem;
}

.user-name{
    display: grid;
    grid-template-columns: 1fr 30px;
    justify-items: stretch;
}

.close {
text-align: right;
justify-self: end;
}

.companyname {
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    padding: 0.3rem;
    text-align: left;
}
.phone {
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    padding: 0.3rem;
    text-align: left;
}

.question{
    display: grid;
    grid-template-columns: 32px 1fr;
    padding: 1rem;
    font-size: 1.2rem;
}

.end-survey {
    display: grid;
    grid-template-columns: 1fr;

}

.button-align {
    width: 60%;
   margin: 0 auto;
}

.thanks {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}


.total-response {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0.8rem;
    border-bottom: 1px solid grey;

.heading {
    display:grid;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    align-self: center;
}

.values {
    display:grid;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: black;
    align-self: center;
}
} 

.survey-questions{
    display: grid;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

.survey-responses {
    display: grid;
   
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.8rem;
}

.top-box {
    border-bottom: 1px solid grey;
    padding-bottom: 0.2rem;
    margin: 1rem;

}

h1 {
    border-bottom: 1px solid #f00;
    display: table;
    margin-left: auto;
    margin-right: auto;
  }



.top {
    display: grid;
    background-color: #ffffff;
    color: black;
    width: 100%;
    grid-template-columns: 1fr 40px;
    justify-content: left;
    align-content: left;
    font-weight: 200;
    padding: 0.5rem;
  }

  .share {
      display: grid;
      justify-content: center;
      align-content: center;
  }
  
//   .top-info-survey-results {
//     display: grid;
   
//     background-color: #ffffff;
   
//     grid-template-columns: 1fr 1fr;
    
//     .side-right {
//         grid-template-columns: 1fr;
//         grid-template-rows: 1fr 1fr;
//         font-size: 0.9rem;
//         color: black;
//         padding: 0.5rem;
//         .side-right-top {
//             padding: 0.3rem;
//             font-size: 1rem;
//             font-weight: 600;
//         }
//         .side-right-bottom {
//             padding: 0.3rem;
//             font-size: 1rem;
//             font-weight: 600;
  
//         }
//     }
  
//     .side-left{
//         grid-template-columns: 1fr;
//         grid-template-rows: 1fr 1fr;
//         font-size: 0.9rem;
//         color: black;
//         padding: 0.5rem;
//         .side-left-top {
//             padding: 0.3rem;
//             font-size: 1rem;
//             font-weight: 500;
  
//         }
//         .side-left-bottom {
//             padding: 0.3rem;
//             font-size: 1rem;
//             font-weight: 500;
//         }
  
//     }
    
   
//   }




.top-info-survey-results {
    display: grid;
    background-color: #ffffff;
    grid-template-columns: 1fr;
    border-top: 1px solid rgba(82, 80, 80, 0.5);
    
    .row1 {
        font-size: 1.4rem;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        margin-top: 0.5rem;
        padding: 0.5rem;

    }
  
    .row2 {
        font-size: 1.2rem;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        padding: 0.5rem;
    }

    .row3{
        font-size: 1rem;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        padding: 0.5rem;
        padding-bottom: 0rem;
        color: #999999;
    }
    
   
  }