.wraps{
    display: grid;
    
    background-color: #ffffff;


}


.all-comp-header {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  background-color: #ffffff;
}

.lbl-head, .close {
  display: grid;
  justify-content: center;
  align-content: center;
  font-family: 'Lato';
  font-size: 1.2rem;
  color: #666666;
  text-align: center;
  padding: 0.8rem;
  background-color: #f2f2f2;
}

.add-company {
    display: grid;
  justify-content: center;
  align-content: center;
  font-size: 24px;
  background-color: #f2f2f2;

}