<!-- <article>
    <header>
      &nbsp;
      <div class="center-align">
        <img src="/assets/images/logo.png">
      </div>
    </header>
    <main>
      <div class="welcome">
        <div class="mini-title">
           Password Recovery
        </div>
  
        <form [formGroup]="submitForm">
          <ion-item>
            <ion-label position="floating" class="grey-disabled"> Enter registered phone number</ion-label>
            <ion-input formControlName="phonenumber" type="text"></ion-input>
          </ion-item>
  
          <ion-button (click)="onSubmit()" 
            [disabled]=!submitForm.valid type="submit" shape="round" name="action" expand="block">Reset Password</ion-button>
        </form>
  
      </div>
  
    </main>
    <footer>
      &nbsp;
    </footer>
  </article> -->


  <ion-content>

    <div class="wrapper">
      <div class="header">
  
        <div class="row1">Suvai</div>
        <div class="row2">Suvai - Guest Survey app</div>
        <div class="row3">for food caterers</div>
      </div>
      <div class="main-su fill">
        <div class="row1">
          <span class="label">
            SIGN UP
          </span>
  
        </div>
  
        <form [formGroup]="submitForm">
            
          <div class="row2">
            <ion-input placeholder="Enter your Mobile Number"  type="text" formControlName="phonenumber" class="input-text-align">
            </ion-input>
            <div *ngIf="(submitForm.get('phonenumber').hasError('required') || submitForm.get('phonenumber').hasError('pattern')) && submitForm.get('phonenumber').touched">
               <span class="has-error">Mobile Number missing or wrong format</span> 
            </div>
           
          </div>
  
  
          <div class="pass-block">
            <ion-input placeholder="Enter Password" type="text" formControlName="password" class="input-text-align"></ion-input>
  
           
              
              <div  *ngIf="(submitForm.get('password').hasError('required') && submitForm.get('password').touched)"
              class="has-error">Password missing or not in valid format</div><br>
              <div  *ngIf="( !submitForm.get('password').hasError('required') && submitForm.get('password').hasError('patternInvalid')) && submitForm.get('password').touched"class="has-error">
                Minimum 6 characters with a mix of letters, numbers</div>
          
            <ion-input formControlName="confirmPassword" [type]="passwordType" placeholder="Confirm Password"
              errorStateMatcher="matcher" 
              class="input-text-align"></ion-input>
           

            <img src="/assets/images/view.svg" (click)="togglePassword()" 
            width="20px" height="20px">

  
            <div position="floating" class="validator-error"
              *ngIf="submitForm.hasError('notSame') && submitForm.get('confirmPassword').touched">
              
              <span class="has-error">Passwords do not match</span>
            </div>
  
          
          </div>
  
  
          <div class="row3">
            <ion-row center>
              <ion-col text-center class="test">
                <ion-button expand="block" fill="solid" shape="round" class="button-align" 
                [disabled]=!submitForm.valid
                (click)="onSubmit()"
                  type="button" name="action" color="primary">Send OTP</ion-button>
              </ion-col>
            </ion-row>
          </div>
          <div class="row4"  >Already a member. Sign In</div>
        </form>
        <br>
        <br>
        
      </div>
     
    </div>
  
  </ion-content>