<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title class="labl-head">{{companyname}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
            <ion-avatar>
                <img src="../assets/img/avatar1.png">
              </ion-avatar>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item detail [routerDirection]="'root'" [routerLink]="[p.url]" (click)="onClick(p)">
              <img src="{{p.icon}}" width="20px" height="20px"> 

              <ion-label>
                &nbsp;&nbsp;{{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
