.wrapper {
    display: grid;
    grid-template-rows: 1fr 3fr / auto;
   
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    grid-template-columns: 100%;

    .header {
        display: grid;
        background-color: #ffffff;
        background-image: url('/assets/images/survey-team-logo.png');
        background-repeat: no-repeat;
        background-position: center;
        height: 60px;
        margin: 36px;
    }

    .main {
        display: grid;
        background-color: #ffffff;
        place-items: center;

        .row5 {
            justify-content: center;
            align-self: center;
            text-align: center;
        }

    }

    .enter-survey-mode {
        display: grid;
        margin-top: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgb(221, 221, 221);
        padding: 2rem;
        color: #000000;
        font-weight: 500;

    }


}

.input-text-align {
    width: 60%;

    display: inline-block;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;
    padding-left: 10px !important;
}


.button-align {
    width: 90%;
    margin: 0 auto;

}

.small-textbox {
    width: 50px !important;

}

.text {
    padding-left: 30px;
    padding-right: 30px;
}

.button-top-gap {
    padding-top: 1rem;
}

.forgot-pass {
    font-size: 0.9rem;
    color: blue;

}



.form {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: hidden;
    width: 80%;
    max-width: 300px;
    margin: 1rem;
    
}



.form-input,
.form-button {
    letter-spacing: 1.1px;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;

}

.form-item {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}




.form-input:focus::placeholder {
    color: var(--ion-color-vibrant);
    opacity: 0.85;
    outline-style: none;
}

.form-button, .form-input:focus {
    outline-style: none;
}



.form-item:first-of-type {
    position: relative;

}

.form-item:first-of-type::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
}


.form-button {

    background: var(--ion-color-vibrant);
    // color: white;
    padding: 1.25rem 2.5rem;
}

.round {
    border-radius: 30px;
}



