<ion-content>

  <div class="wrapper">
    <div class="header">

      <div class="row1"></div>
      <div class="row2">Suvai - Guest Survey app</div>
      <div class="row3">for food caterers</div>
    </div>
    <div class="main">
      <div class="row1">
        <span class="label">
          SIGNIN
        </span>
        
      </div>
      <form [formGroup]="submitForm">
      <div class="row2">
        <ion-input placeholder="Enter Mobile Number" formControlName="phonenumber" class="input-text-align"></ion-input>&nbsp;&nbsp;&nbsp;
      </div>
      <div class="row2">
        <ion-input placeholder="Password" [type]="passwordType" formControlName="password" class="input-text-align"></ion-input>
        <ion-icon name="eye" slot="end" [color]="passwordShown === true ? 'grey' : 'dark' "
        (click)="togglePassword()"></ion-icon>
      </div>
      <div class="row3">
        <div *ngIf="responsemsg" class="has-error">
          {{this.responsemsg}}
        </div> 
        <ion-row center >
          <ion-col text-center class="button-top-gap">
            <ion-button expand="block" fill="solid" shape="round" class="button-align"
            (click)="signIn()"  type="button" name="action" color="primary">SIGN IN</ion-button>
          </ion-col>
        </ion-row>
        <ion-row center >
            <ion-col text-center class="forgot-pass">
             Forgot password?
            </ion-col>
          </ion-row>
      </div>
    </form>
      <div class="row4">&nbsp;</div>
      <div class="row5">
        <span>New to Suvai?</span>
          <ion-row center >
              <ion-col text-center class="button-top-gap">
                <ion-button expand="block" fill="solid" shape="round" class="button-align"
                (click)="signUp()"  type="button" name="action" color="vibrant">SIGN UP FOR FREE</ion-button>
              </ion-col>
            </ion-row>
      </div>

    </div>
    <div class="survey">
      
      <div class="enter-survey-mode">
        <ion-button (click)="onClick()" fill="solid" shape="round">
        ENTER SURVEY MODE
        </ion-button>
      </div>
      

    </div>
  </div>

</ion-content>

