 <ion-content>
<div class="wrapper">
  <div class="header">
  
  </div>

  <div class="main">

    <form [formGroup]="submitForm" class="form">
      <div class="form-item">
          <ion-item lines="none">
        <ion-input type="text" class="form-input" formControlName="phonenumber" placeholder="Mobile number">
        </ion-input>
      </ion-item>
      </div>

      <div class="form-item">
        <ion-item lines="none">
        <ion-input [type]="passwordType" class="form-input" formControlName="password" placeholder="Password"></ion-input>
        <ion-icon name="eye" slot="end"></ion-icon>
      </ion-item>  
      </div>
    
      <button class="form-button" type="button" (click)="signIn()">
        singin
      </button>

    </form>


    <div class="row5">
      <span>New to Survey Team?</span>
      <ion-row center>
        <button class="form-button round" type="button" (click)="signUp()">
          Create Account
        </button>
      </ion-row>
    </div>

  </div>
  
    <div class="enter-survey-mode">
      <ion-button (click)="onClick()" fill="solid" shape="round">
        START SURVEY
      </ion-button>
    </div>
  
</div>
</ion-content> 


