.wrapper {
   


    min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 100%;


    .header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr 1fr;
        background-color: #f8c045;
        padding-bottom: 1rem;
        // border-bottom-left-radius: 10px;
        // border-bottom-right-radius: 10px;

        .row1 {
            display: grid;
           
            background-image: url('/assets/suvai-70h.png');
            background-repeat: no-repeat;
           
            background-position: center; 
        }

        .row2 {
            display: grid;
            justify-content: center;
            justify-self: center;
            align-items: center;
            font-size: 0.8rem;
        }

        .row3 {
            display: grid;
            justify-content: center;
            justify-self: center;
            align-items: center;
            font-size: 0.8rem;
        }

    }

    .main {
        display: grid;
        background-color: #ffffff;
        // border-top-left-radius: 10px;
        // border-top-right-radius: 10px;
        grid-template-rows: auto 60px 60px 1fr auto;


        .row1, .row2, .row3, .row4, .row5{
            justify-content: center;
            align-self: center;
            text-align: center;
        }

        .row4 {
            text-align: center;
            align-self: flex-end;
            font-size: 1.2rem;

        }

        .row1 {
            .label {
                width: 100%;
                text-align: right;
               
                display: grid;
                padding-right: 65%;
                padding-top: 1rem;

                color: #000000;
                font-weight: 400;
                font-size: 1.5rem;
            }
          
        }

       
     
        
    }

    .survey {
        display: grid;
        background-color: #ffffff;

        .survey-mode {
           display: grid;
            // border-top-left-radius: 10px;
            // border-top-right-radius: 10px;
            background-color: rgb(221, 221, 221);

            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 1rem;

            color: #000000;
            font-weight: 400;
        }

        .enter-survey-mode {
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: rgb(221, 221, 221);
            padding: 2rem;
            color: #000000;
            font-weight: 500;

        }

        .why-survey-mode {
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: rgb(221, 221, 221);
            padding: 1rem;
            color: blue;
            font-size: 1rem;
        }


    }

}

.input-text-align {
    width: 60%;
  
    display: inline-block;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;
    padding-left: 10px !important;
}

.button-align {
    width: 60%;
   margin: 0 auto;
}

  .small-textbox {
  width: 50px !important;
   
  }

  .text {
      padding-left: 30px;
      padding-right: 30px;
  }

  .button-top-gap {
      padding-top: 1rem;
  }

  .forgot-pass {
      font-size: 0.9rem;
      color: blue;

  }