<ion-content class="wrapper">

  <div class="top">
    <div class="item1 item">


      <img src="/assets/images/back.svg" width="24px" height="24px" (click)="dashboard()">


    </div>
    <div class="item2 ">&nbsp;</div>
    <div class="item3 item">
      &nbsp;
    </div>
    <div class="item4 item">


      <img src="/assets/images/view.svg" width="24px" height="24px" (click)="goPreview()">

    </div>
    <div class="item5 item">


      <img src="/assets/images/checked.svg" width="24px" height="24px" (click)="submit()">
    </div>
  </div>
  <div class="main">
    <div class="row1">Edit Survey </div>
    <div>


      <form [formGroup]="submitForm">

        <ion-item>
          <ion-label position="stacked" class="label-style"> Survey name</ion-label>
          <ion-input formControlName="surveyname" clearInput placeholder="Give your survey a title"></ion-input>
        </ion-item>
        <div
          [ngClass]="{'has-error' : (submitForm.get('surveyname').hasError('required') || submitForm.get('surveyname').hasError('pattern')) && submitForm.get('surveyname').touched}"
          *ngIf="(submitForm.get('surveyname').hasError('required') || submitForm.get('surveyname').hasError('pattern')) && submitForm.get('surveyname').touched">
          Enter survey name.
        </div>


        <ion-item>
          <ion-label position="stacked" class="label-style"> Survey venue</ion-label>
          <ion-input formControlName="surveyvenue" clearInput placeholder="Enter survey venue"></ion-input>

        </ion-item>
        <div
          [ngClass]="{'has-error' : (submitForm.get('surveyvenue').hasError('required') || submitForm.get('surveyvenue').hasError('pattern')) && submitForm.get('surveyvenue').touched}"
          *ngIf="(submitForm.get('surveyvenue').hasError('required') || submitForm.get('surveyvenue').hasError('pattern')) && submitForm.get('surveyvenue').touched">
          Enter venue details.
        </div>

        <ion-item>
          <ion-label class="label-style">Date & Time</ion-label>
          <ion-datetime displayFormat="D MMM YYYY h:mm A" minuteValues="0,15,30,45" placeholder="Select"
            formControlName="surveydate"></ion-datetime>

        </ion-item>


        <div
          [ngClass]="{'has-error' : (submitForm.get('surveydate').hasError('required') || submitForm.get('surveydate').hasError('pattern')) && submitForm.get('surveydate').touched}"
          *ngIf="(submitForm.get('surveydate').hasError('required') || submitForm.get('surveydate').hasError('pattern')) && submitForm.get('surveydate').touched">
          Enter survey date.
        </div>


        <ion-item>
          <ion-label class="label-style"> Language</ion-label>


          <ion-select placeholder="Select" formControlName="language" (ionChange)="selectLanguage()">
            <ion-select-option value="{{item}}" *ngFor="let item of languages; " [value]="item">
              {{ item }}
            </ion-select-option>
          </ion-select>



        </ion-item>
        <div
          [ngClass]="{'has-error' : (submitForm.get('language').hasError('required') || submitForm.get('language').hasError('pattern')) && submitForm.get('language').touched}"
          *ngIf="(submitForm.get('language').hasError('required') || submitForm.get('language').hasError('pattern')) && submitForm.get('language').touched">
          Choose survey language.
        </div>

        <ion-item detail (click)="chooseIndustry()">
          <ion-label class="label-style">
            Choose Industry&nbsp;&nbsp;&nbsp;&nbsp;
          </ion-label>

          <ion-input formControlName="industry"></ion-input>
        </ion-item>

        <div
          [ngClass]="{'has-error' : (submitForm.get('industry').hasError('required') || submitForm.get('industry').hasError('pattern')) && submitForm.get('industry').touched}"
          *ngIf="(submitForm.get('industry').hasError('required') || submitForm.get('industry').hasError('pattern')) && submitForm.get('industry').touched">
          Choose survey Industry.
        </div>



      </form>

    </div>

    <div class="mid-heading">
      Questions - Choices ({{flatMap?.length}})
    </div>

    <div class="new-question">
      <div>
        
        <img src="/assets/images/plus.svg" width="24px" height="24px" (click)="addQuestions()">
      </div>
      <div class="label">
        புதிய கேள்வி !!
      </div>

    </div>

    <hr>




    <div *ngFor="let item of flatMap; let i = index;" class="quest-details">
      <div>
        <span class="numberCircle"><span>{{i + 1}}</span></span>
      </div>
      <div>
        <ion-label>&nbsp;&nbsp;{{item?.question}}</ion-label>
      </div>
      <div>
        
        <img src="/assets/images/edit.svg" width="18px" height="18px" (click)="editquestions(item)">
        
      </div>
      <div>

      </div>
      <ion-item>
        <ion-label text-wrap class="border-decoration">{{item?.name}}</ion-label>
      </ion-item>
    </div>

    <div>
    </div>

  </div>
  <div class="bottom">
    &nbsp;
  </div>

</ion-content>