<ion-content class="wrapper">

  <div class="top">
    <div class="item1 item">
      <ion-icon name="arrow-round-back" (click)="dashboard()"></ion-icon>
    </div>
    <div class="item2 ">Dashboard</div>
    <div class="item3 item">
      &nbsp;
    </div>
    <div class="item4 item">
        <ion-icon name="eye" (click)="goPreview()"></ion-icon>
    </div>
    <div class="item5 item">
      <ion-icon name="checkmark" (click)="submit()"></ion-icon>
    </div>
  </div>
  <div class="main">
    <div class="row1">Edit Survey </div>
    <div>
        <!-- <form [formGroup]="submitForm" >
            <ion-item>
                <ion-input formControlName="surveyname" type="text"  placeholder="கஸ்டமர் பெயர்"  ></ion-input>
                <ion-icon name="person" slot="start"></ion-icon>
            </ion-item>
            <div [ngClass]="{'has-error' : (submitForm.get('surveyname').hasError('required') || submitForm.get('surveyname').hasError('pattern')) && submitForm.get('surveyname').touched}"
            *ngIf="(submitForm.get('surveyname').hasError('required') || submitForm.get('surveyname').hasError('pattern')) && submitForm.get('surveyname').touched">
            Enter Customer Name.
            </div>
           
          
            <ion-item>
                <ion-input formControlName="surveyvenue" type="text"  placeholder="விருந்து / சமையல் நடக்கும் இடம்"  ></ion-input>
                <ion-icon name="pin" slot="start"></ion-icon>
            </ion-item>
            <div [ngClass]="{'has-error' : (submitForm.get('surveyvenue').hasError('required') || submitForm.get('surveyvenue').hasError('pattern')) && submitForm.get('surveyvenue').touched}"
            *ngIf="(submitForm.get('surveyvenue').hasError('required') || submitForm.get('surveyvenue').hasError('pattern')) && submitForm.get('surveyvenue').touched">
            Enter venue details.
            </div>
         
                
      
                <ion-item>
                    <ion-label>தேதி</ion-label>
                    <ion-datetime displayFormat="D MMM YYYY h:mm A" minuteValues="0,15,30,45"
                    formControlName="surveydate" ></ion-datetime>
                    <ion-icon name="calendar" slot="start"></ion-icon>
                  </ion-item>
      
      
            <div [ngClass]="{'has-error' : (submitForm.get('surveydate').hasError('required') || submitForm.get('surveydate').hasError('pattern')) && submitForm.get('surveydate').touched}"
            *ngIf="(submitForm.get('surveydate').hasError('required') || submitForm.get('surveydate').hasError('pattern')) && submitForm.get('surveydate').touched">
            Enter Date of function.
            </div>
           
            <ion-item>
                <ion-label> நேரம்</ion-label>
                <ion-select formControlName="servicetype" placeholder="தேர்வு செய்க">
      
                    <ion-select placeholder="தேர்வு செய்க" formControlName="servicetype" >
                        <ion-select-option value="{{item.servicetype}}" *ngFor="let item of servicetypes; " >
                          {{ item.servicetype }}
                        </ion-select-option>
                      </ion-select>
       
                
                </ion-select>
              </ion-item>
              <div [ngClass]="{'has-error' : (submitForm.get('servicetype').hasError('required') || submitForm.get('servicetype').hasError('pattern')) && submitForm.get('servicetype').touched}"
              *ngIf="(submitForm.get('servicetype').hasError('required') || submitForm.get('servicetype').hasError('pattern')) && submitForm.get('servicetype').touched">
              Enter Time of function.
              </div>
      
            </form> -->


            <form [formGroup]="submitForm" >

                <ion-item >
                    <ion-label position="stacked" class="label-style"> Survey name</ion-label>
                    <ion-input formControlName="surveyname" clearInput placeholder="Give your survey a title"></ion-input>
                  </ion-item>
                    <div [ngClass]="{'has-error' : (submitForm.get('surveyname').hasError('required') || submitForm.get('surveyname').hasError('pattern')) && submitForm.get('surveyname').touched}"
            *ngIf="(submitForm.get('surveyname').hasError('required') || submitForm.get('surveyname').hasError('pattern')) && submitForm.get('surveyname').touched">
            Enter survey name.
            </div>
      
      
              <ion-item>
                  <ion-label position="stacked" class="label-style"> Survey venue</ion-label>
                <ion-input formControlName="surveyvenue" clearInput placeholder="Enter survey venue" ></ion-input>
                
            </ion-item>
            <div [ngClass]="{'has-error' : (submitForm.get('surveyvenue').hasError('required') || submitForm.get('surveyvenue').hasError('pattern')) && submitForm.get('surveyvenue').touched}"
            *ngIf="(submitForm.get('surveyvenue').hasError('required') || submitForm.get('surveyvenue').hasError('pattern')) && submitForm.get('surveyvenue').touched">
            Enter venue details.
            </div>
      
                  <ion-item>
                      <ion-label  class="label-style">Date & Time</ion-label>
                      <ion-datetime displayFormat="D MMM YYYY h:mm A" minuteValues="0,15,30,45" placeholder="Select"
                      formControlName="surveydate" ></ion-datetime>
                      <!-- <ion-icon name="calendar" slot="start"></ion-icon> -->
                    </ion-item>
        
        
              <div [ngClass]="{'has-error' : (submitForm.get('surveydate').hasError('required') || submitForm.get('surveydate').hasError('pattern')) && submitForm.get('surveydate').touched}"
              *ngIf="(submitForm.get('surveydate').hasError('required') || submitForm.get('surveydate').hasError('pattern')) && submitForm.get('surveydate').touched">
              Enter survey date.
              </div>
      
      
              <ion-item>
                  <ion-label class="label-style"> Language</ion-label>
                
                 
                      <ion-select placeholder="Select" formControlName="language"  (ionChange)="selectLanguage()">
                          <ion-select-option value="{{item}}"  
                          *ngFor="let item of languages; " [value]="item">
                            {{ item }}
                          </ion-select-option>
                        </ion-select>
         
                  
            
                </ion-item>
                <div [ngClass]="{'has-error' : (submitForm.get('language').hasError('required') || submitForm.get('language').hasError('pattern')) && submitForm.get('language').touched}"
                *ngIf="(submitForm.get('language').hasError('required') || submitForm.get('language').hasError('pattern')) && submitForm.get('language').touched">
                Choose survey language.
                </div> 
      
                <ion-item detail (click)="chooseIndustry()">
                    <ion-label class="label-style">
                      Choose Industry&nbsp;&nbsp;&nbsp;&nbsp;
                    </ion-label>
                    
                    <ion-input formControlName="industry" ></ion-input>
                  </ion-item>
                  
                  <div [ngClass]="{'has-error' : (submitForm.get('industry').hasError('required') || submitForm.get('industry').hasError('pattern')) && submitForm.get('industry').touched}"
                  *ngIf="(submitForm.get('industry').hasError('required') || submitForm.get('industry').hasError('pattern')) && submitForm.get('industry').touched">
                  Choose survey Industry.
                  </div> 
      
             
      
            </form>
    
    </div>

    <div class="mid-heading">
      Questions - Choices ({{flatMap?.length}})
    </div>

    <div class="new-question">
      <div>
          <ion-icon class="ion-icon-2x" name="add-circle-outline" (click)="addQuestions()"></ion-icon> 
      </div>
      <div class="label">
          புதிய கேள்வி !!
      </div>
        
    </div>
        
      <hr>
        
      
    

    <div *ngFor="let item of flatMap; let i = index;" class="quest-details">
      <div>
          <span class="numberCircle"><span>{{i + 1}}</span></span>
      </div>
      <div>
          <ion-label>&nbsp;&nbsp;{{item?.question}}</ion-label>
      </div>
      <div>
          <ion-icon name="create" class="ion-icon-1point5x" (click)="editquestions(item)"></ion-icon>
      </div>
     <div>

     </div>
      <ion-item>
        <ion-label text-wrap class="border-decoration">{{item?.name}}</ion-label>
      </ion-item>
    </div>

    <div>
    </div>

  </div>
  <div class="bottom">
    &nbsp;
  </div>

</ion-content>