.wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

    .top{
        display: grid;
        width: 100%;
        height: 50px;
        grid-template-columns: 40px 1fr 40px 40px 40px;
        background-color: #ffffff;
        justify-content: center;
        align-content: center;
        font-weight: 200;

        .item {
            justify-self: center;
            align-self: center;
            align-items: center;
            font-size: 1.5rem;
            height: 24px;
        }
    }
    .main {
        display: grid;
        grid-template-columns: 1fr;
      
        .row1 {
            background-color: #f2f2f2;
            color: #666666;
            font-family: 'Lato';
            font-size: 1.2rem;
            font-weight: 400;
            padding: 1rem;
            text-align: center;
        }
      

        .mid {
            padding: 1rem;
            background-color: #f0d497;
        }

        .add-question {
            display: grid;
            justify-content: center;
            align-content: center;

        }
        .label-1{
            display: grid;
            justify-content: center;
            align-content: center;
            padding: 1rem;
        }
    }
    .botton {
        display: grid;
    }
}

.mid-heading {
    display: grid;
    width: 100%;
    height: 40px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 1rem;
    color: #ffffff;;
    align-items: center;
    background-color: var(--ion-color-primary);
    padding-left: 1rem;
}

.new-question {
    display: grid;
    grid-template-columns: 40px 1fr; 
    align-content: center;
    align-self: center;
    padding: 0.5rem;
    //margin: 1rem;
    border-bottom: 1px solid rgb(184, 182, 182);
}

.label {
    display: grid;
    align-content: center;
}






.quest-details {
    // padding-left: 1rem;
    margin: 1rem;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
}

.border-decoration {
    border: 1px solid grey;
    border-style: dashed;
    padding: 0.3rem;
}