
  
  .feedback-ln {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    line-height: 30px;
    font-size: 1em;
    
    font-weight: 100;
    text-align: center;
    text-underline-position: below;
    font-size: 0.8em;
    color: orangered;
  } 



  .myform {
    width: 96%;
    margin: 0 auto;
  }



  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    align-items: center;
    justify-items: center; /* adjusted */
    z-index: 999;
  }




article {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 100%;
}

header {
	background: #ffffff;
	padding: 1rem;
}

main {
	background: ffffff;
	color: #444;
  padding: 1rem;
  
  display: grid;
  grid-template-columns: 1fr;
  
  align-items: center;
  justify-items: center; /* adjusted */
  z-index: 999;
}

footer {
	background: #ffffff;
	padding: 1rem;
}

.footer-txt{
  justify-self: center;
  text-align: center;
}


.btn-blue-gradient {
  background: rgba(58,122,213,1);
  background: -moz-linear-gradient(left, rgba(58,122,213,1) 0%, rgba(44,50,83,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(58,122,213,1)), color-stop(100%, rgba(44,50,83,1)));
  background: -webkit-linear-gradient(left, rgba(58,122,213,1) 0%, rgba(44,50,83,1) 100%);
  background: -o-linear-gradient(left, rgba(58,122,213,1) 0%, rgba(44,50,83,1) 100%);
  background: -ms-linear-gradient(left, rgba(58,122,213,1) 0%, rgba(44,50,83,1) 100%);
  background: linear-gradient(to right, rgba(58,122,213,1) 0%, rgba(44,50,83,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a7ad5', endColorstr='#2c3253', GradientType=1 );
}

.btn-border-box {
  
  color: blue;
}

.welcome {
  display: grid;
  font-size: 2rem;
  text-align: left;
  width: 94%;

}

.btn-1 {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}


.mini-title {
    font-size: 1.2rem;
    justify-self: center;
}

.medium-title {
  font-size: 1.2rem;
  justify-self: center;
}

input{
    padding: 10px;
    margin: 4px;
    border: 1px solid #ddd;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 30px;
}

.small-font {
  font-size: 0.8rem !important;
}

