<article>
    <header>
      &nbsp;
      <div class="center-align">
        <img src="/assets/images/logo.png">
      </div>
    </header>
    <main>
      <div class="welcome">
      <ng-container *ngIf="!otpsent">
        <div class="mini-title">
          Set Password
        </div>
  
        <form [formGroup]="submitForm" (ngSubmit)="onSubmit()">
       
        
          <ion-item>
            <ion-label position="floating" class="grey-disabled"> Enter password</ion-label>
            <ion-input formControlName="password" type="text"></ion-input>
            </ion-item>
          
           
            <ion-item>
              <ion-label position="floating" class="grey-disabled"> Confirm password</ion-label>
              <ion-input formControlName="confirmPassword" [type]="passwordType"  errorStateMatcher="matcher"></ion-input>
              <ion-icon name="eye" slot="end" [color]="passwordShown === true ? 'grey' : 'dark' " (click)="togglePassword()"></ion-icon>
  
              </ion-item>
              
             
             
              <div class="right-align grey-disabled small-font">
                <ion-label >Use 6 or more characters with a mix of letters, numbers & symbols</ion-label>
              </div>
  
              <ion-button [disabled]=!submitForm.valid type="submit" shape="round" name="action" expand="block">Request OTP</ion-button>
        
     
        </form>
      </ng-container>
        <ng-container *ngIf="otpsent">
          <div class="medium-title">OTP Sent to phone number ending with XXXXXXXX-{{this.lastdigits}}. Please verify.</div>
          <br>
          <form [formGroup]="verifyForm">
              
            <input type="number" formControlName="p1" maxlength=1 #p1 (input)="moveOnMax('p2')" />
            <input type="number" formControlName="p2" maxlength=1 #p2 (input)="moveOnMax('p3')" />
            <input type="number" formControlName="p3" maxlength=1 #p3 (input)="moveOnMax('p4')" />
            <input type="number" formControlName="p4" maxlength=1 #p4 (input)="moveOnMax('p5')"/>
            <input type="number" formControlName="p5" maxlength=1 #p5 (input)="moveOnMax('p6')" />
            <input type="number" formControlName="p6" maxlength=1 #p6  />
            <ion-button (click)="onVerifyOTP()"  type="button" shape="round" name="action" expand="block">Verify OTP</ion-button>
        </form>
  
        </ng-container>
  
      </div>
     
    </main>
    <footer>
     &nbsp;
  
    </footer>
  </article>