<ion-content>

    <div class="wrapper">
      <div class="header">
  
        <div class="row1">Suvai</div>
        <div class="row2">Suvai - Guest Survey app</div>
        <div class="row3">for food caterers</div>
      </div>
      <div class="main fill">
          <form [formGroup]="submitForm" (ngSubmit)="onSubmit()">
        <div class="row1">
          <span class="label">
            ACCOUNT PASSWORD
          </span>
          
        </div>
        <div class="row2">
         
              <ion-input formControlName="password" [type]="passwordType"  placeholder="choose a password"  class="input-text-align"></ion-input>
              
              <img src="/assets/images/view.svg" (click)="togglePassword()" 
              width="20px" height="20px">
      

        </div>
        <div class="row3">
          <ion-row center >
            <ion-col text-center class="test">
              <ion-button expand="block" fill="solid" shape="round" class="button-align"
              (click)="setPassword()"  type="button" name="action" color="primary">NEXT</ion-button>
            </ion-col>
          </ion-row>
        </div>
     
      </form>
      </div>
    
    </div>
  
  </ion-content>
  
  