<ion-content>
  <div class="wrapper">

    <div class="top">
      <div class="item1 item">
        <ion-icon name="arrow-round-back" (click)="edit()"></ion-icon>
      </div>
      <div class="item2 ">சர்வே தகவல்கள்</div>
      <div class="item3 item">
        <ion-icon name="eye"></ion-icon>
      </div>
      <div class="item4 item">
        <ion-icon name="close"></ion-icon>
      </div>
      <div class="item5 item">
        <ion-icon (click)="onSubmit()" name="checkmark"></ion-icon>
      </div>

    </div>
    <div class="top-info">
      <div class="side-left">
        <div class="side-left-top">
       
         {{surveydata?.surveyname}}
        </div>
        <div class="side-left-bottom">
          {{surveydata?.surveyvenue}}
        </div>

      </div>

      <div class="side-right">

        <div class="side-right-top">
          {{surveydata?.surveydate | date: 'dd/MMM/yyyy'}}
        </div>
        <div class="side-right-bottom">
          {{surveydata?.servicetype}}
        </div>

      </div>

    </div>
    <div class="main">&nbsp;</div>
    <div class="question">
      <form [formGroup]="submitForm" accept-charset="UTF-8">
        <div class="row1">விருந்தினருக்கு காட்ட வேண்டிய கேள்வி எண்</div>
        <div class=row2>
          <ion-textarea rows="6" cols="20" formControlName="question" class="textareacss"
            placeholder="Enter Survey questions...">
          </ion-textarea>
        </div>

        <div
          [ngClass]="{'has-error' : (submitForm.get('question').hasError('required') || submitForm.get('question').hasError('pattern')) && submitForm.get('question').touched}"
          *ngIf="(submitForm.get('question').hasError('required') || submitForm.get('question').hasError('pattern')) && submitForm.get('question').touched">
          Questions missing or invalid questions format.
        </div>

        <!-- <div class="has-error">
            {{responsemsg}}
        </div> -->
        <div
        [ngClass]="{'has-error' : (submitForm.get('optiongroupname').hasError('required') || submitForm.get('optiongroupname').hasError('pattern')) && submitForm.get('optiongroupname').touched}"
        *ngIf="(submitForm.get('optiongroupname').hasError('required') || submitForm.get('optiongroupname').hasError('pattern')) && submitForm.get('optiongroupname').touched">
        Response Choice missing or invalid format.
      </div>

        <div class="row3">
          விருந்தினர்களுக்கு காட்டக்கூடிய பதில்கள் கீழாய் கொடுக்கப்பட்டு உள்ளன. அவற்றில் இருந்து ஒன்றை தேர்ந்து
          எடுக்கவும்
          
        </div>
        <div class=row4>
        <ion-list >
          <ion-radio-group formControlName="optiongroupname">
            <ion-list-header>
              விருந்தினருக்கு காட்ட வேண்டிய பதில்கள்
            </ion-list-header>
            <div *ngFor="let item of flatMap; let i = index;">
              <ion-item>
                <ion-label text-wrap>{{item.name}}</ion-label>
                <ion-radio slot="start" (click)="onClick(item)" value="{{item.id}}">
                </ion-radio>

              </ion-item>
            </div>

          </ion-radio-group>
        </ion-list>
      </div>
      
      </form>
    </div>

  </div>
</ion-content>

<!-- <ion-content class="wrapper">

  <div class="top">
    <div class="item1 item">
      <ion-icon name="arrow-round-back"></ion-icon>
    </div>
    <div class="item2 ">சர்வே தகவல்கள்</div>
    <div class="item3 item">
      <ion-icon name="eye"></ion-icon>
    </div>
    <div class="item4 item">
      <ion-icon name="close"></ion-icon>
    </div>
    <div class="item5 item">
      <ion-icon (click)="onSubmit()" name="checkmark"></ion-icon>
    </div>
  </div>
  <div class="main">
    <form [formGroup]="submitForm" accept-charset="UTF-8">
      <div class="row1">
        <div class="left">
          <div>சர்வே தகவல்கள் left 1</div>
          <div>சர்வே தகவல்கள் left 2</div>
          
        </div>
        <div class="right">
            <div>சர்வே தகவல்கள் right 1</div>
            <div>சர்வே தகவல்கள் right 2</div>

        </div>
        


      </div>
      <div class="row2"> </div>
      <div class="row3">
        <div>விருந்தினருக்கு காட்ட வேண்டிய கேள்வி</div>
        <ion-textarea rows="6" cols="20" formControlName="question"
          class="textareacss"
          placeholder="விருந்தினருக்கு காட்ட வேண்டிய கேள்வி...">
        </ion-textarea>

   

      </div>

<div [ngClass]="{'has-error' : (submitForm.get('question').hasError('required') || submitForm.get('question').hasError('pattern')) && submitForm.get('question').touched}"
*ngIf="(submitForm.get('question').hasError('required') || submitForm.get('question').hasError('pattern')) && submitForm.get('question').touched">
Questions missing or invalid questions format.
</div>
      <ion-list >
        <ion-radio-group formControlName="optiongroupname">
          <ion-list-header>
            விருந்தினருக்கு காட்ட வேண்டிய பதில்கள்
          </ion-list-header>
          <div *ngFor="let item of flatMap; let i = index;">
            <ion-item >
              <ion-label text-wrap>{{item.name}}</ion-label>
              <ion-radio slot="start"  (click)="onClick(item)" 
                 value="{{item.id}}" >
              </ion-radio>

            </ion-item>
          </div>

        </ion-radio-group>
      </ion-list>

      <div [ngClass]="{'has-error' : (submitForm.get('optiongroupname').hasError('required') || submitForm.get('optiongroupname').hasError('pattern')) && submitForm.get('optiongroupname').touched}"
*ngIf="(submitForm.get('optiongroupname').hasError('required') || submitForm.get('optiongroupname').hasError('pattern')) && submitForm.get('optiongroupname').touched">
Response Choice missing or invalid format.
</div>

    </form>

  </div>
  <div class="bottom">
    &nbsp;
  </div>

</ion-content> -->
