<ion-content>
  <div class="wrapper">

    <div class="top">
      <div class="item1 item">
       
        <img src="/assets/images/back.svg"  (click)="edit()" width="20px" height="20px"> 
      </div>
      <div class="item2 ">&nbsp;</div>
      
      <div class="item5 item">
        <div class = "save" (click)="onSubmit()"> SAVE </div>
       
      </div>

    </div>

    <div class="top-info">
        <div class="row1">
           {{surveydata?.surveyname}}
        </div>
  
        <div class="row2">
            {{surveydata?.surveyvenue}}
        </div>
        <div class="row3">
            {{surveydata?.surveydate | date: 'dd/MMM/yyyy'}}
        </div>
  
      </div>

    <div class="main">&nbsp;</div>
    <div class="question">
      <form [formGroup]="submitForm" accept-charset="UTF-8">
        <div class="row1"><span class="question-text"> QUESTION TEXT</span></div>
        <div class=row2>
          <ion-textarea rows="6" cols="20" formControlName="question" class="textareacss"
            placeholder="Enter Survey questions...">
          </ion-textarea>
        </div>

        <div
          [ngClass]="{'has-error' : (submitForm.get('question').hasError('required') || submitForm.get('question').hasError('pattern')) && submitForm.get('question').touched}"
          *ngIf="(submitForm.get('question').hasError('required') || submitForm.get('question').hasError('pattern')) && submitForm.get('question').touched">
          Questions missing or invalid questions format.
        </div>

       
        <div
        [ngClass]="{'has-error' : (submitForm.get('optiongroupname').hasError('required') || submitForm.get('optiongroupname').hasError('pattern')) && submitForm.get('optiongroupname').touched}"
        *ngIf="(submitForm.get('optiongroupname').hasError('required') || submitForm.get('optiongroupname').hasError('pattern')) && submitForm.get('optiongroupname').touched">
        Response Choice missing or invalid format.
      </div>

        <div class="choices-block">
            <div class="ans-head"><span >ANSWER CHOICES</span></div>
          <div formArrayName="options">
            <div *ngFor="let option of options.controls; let i = index">
                <div [formGroupName]="i" class="choices">
                      <ion-item >
                          <ion-input formControlName="option" clearInput placeholder="Choice #{{ i+1}}"></ion-input>
                        </ion-item>
                       

                        <img src="/assets/images/minus.svg" *ngIf=" i > 1" class="remove"
                        width="24px" height="24px" (click)="onRemoveOptions(i)">


              </div>
            </div>
          </div>

          <div class="add-circle">
            

              <img src="/assets/images/plus.svg"  *ngIf="morechoiceflag" 
              width="36px" height="36px" (click)="addResponses()">

          </div>
          
         
          
        </div>
      
      </form>
    </div>

  </div>
</ion-content>

