.wrapper {
    display: grid;
     grid-template-columns: 1.5rem 1fr 1fr 1.5rem;
     grid-template-rows: 50px 120px auto;
     
     background-color: #fff;
     grid-template-areas: 
        "top top top top"
        "top-info top-info top-info top-info"
        "main main main main"
        ". question question .";
     color: white;
}

.top {
    grid-area: top;
    background-color: rgb(114, 109, 100);
    background-color: #ffffff;
    color: var(--ion-color-primary);

    display: grid;
    width: 100%;
    border-bottom: 1px solid #cfcfcf;
    grid-template-columns: 40px 1fr 60px;
    
    justify-content: center;
    align-content: center;
    font-weight: 200;

    .item {
        justify-self: center;
        align-self: center;
        align-items: center;
        font-size: 1.5rem;
        height: 24px;
    }

}

.top-info {
    display: grid;
    grid-area: top-info;
    background-color: #ffffff;
    color: #666666;
   
    grid-template-columns: 1fr;
    
    .row1 {
        font-size: 1.4rem;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        margin-top: 0.5rem;
        padding: 0.5rem;
    }

    .row2 {
        font-size: 1.2rem;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        padding: 0.5rem;
    }

    .row3 {
        font-size: 1rem;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        padding: 0.5rem;
        padding-bottom: 0rem;
        color: #999999;
    }
    
   
}

.main {
    grid-area: main;
    background-color: #ffffff;
}

.question {
    grid-area: question;
    grid-row: 3/-1;
    z-index: 999;
    // box-shadow: 0px 5px 10px 0px;
    background-color: #ffffff;
    color: black;

    .row1 {
        display: grid;
        padding: 1rem;
        
        text-align: center;
        
    }
    .row2, 
    .row3, 
    .row4 {
        display: grid;
        padding: 0.3rem;
        
        text-align: left;
    }
    
}


.textareacss {
    border: 1px solid grey;
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    background-color: white;
    padding-left: 10px;
}

.list-block {
    background-color: #FFFBF0;
}

.question-text {
    font-size: 0.9rem;
    font-family: 'Lato';
    font-weight: 300;
    color: var(--ion-color-primary);
    text-transform: uppercase;
}



.choices {
    display: grid;
    grid-template-columns: 1fr 50px;
    
    // justify-items: center;
    // align-items: center;
}

.choices-block {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
}

.ans-head {
    display: grid;
    grid-column: 1/-1;
    padding-left: 1rem;
    font-family: 'Lato';
    font-size: 1rem;
    font-weight: 400;
    color: var(--ion-color-primary);
    text-align: left;
}

.add-circle {
    display: grid;
    grid-column: 1/-1;
    padding-left: 1rem;
    padding-top: 0.3rem;
    
}

.remove {
    display: grid;
    justify-self: center;
    align-self: center; 
    color: red;
}

.save {
    display: grid;
    justify-self: center;
    align-self: center;
    font-size: 0.8rem;
    font-family: 'Lato';
    font-weight: 300;
    color: var(--ion-color-primary);
    text-transform: uppercase;
}


