<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">
        சுவை
    </ion-title>
    <ion-icon name="add" slot="end" (click)="addSurvey()"
    class="ion-icon-1point5x"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="scrollmenu">
        <div *ngFor="let item of items" (click)="toggleClick(item)" 
        [ngClass]="{'clicked' :item.isClicked}" class="range">{{item.label}}&nbsp;({{item?.size}})</div>
      </div>



  <div *ngIf="items[0].isClicked" >
      <div *ngIf="upcomingDataLength === 0;then upcoming_content else other_upcoming_content">here is ignored</div>    
      <ng-template #upcoming_content>
        <div class="no-rows">No upcoming surveys</div>
      </ng-template>
      <ng-template #other_upcoming_content>
          <div *ngFor="let item of upcomingData" class="survey-data">
              <div class="survey-name">{{item.surveyname}}</div>
              <div class="survey-venue">{{item.surveyvenue}}</div>
              <div class="survey-date">{{item.surveydate | date: 'dd/MMM/yyyy'}} - {{item.servicetype}}</div>
              <div class="survey-code">CODE - {{item.surveycode}}</div>
              &nbsp;&nbsp;<span class="action-button" (click)="goLive(item)"> GO LIVE</span>&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;<span class="action-button" (click)="goPreview(item)"> PREVIEW</span>&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;
              <span class="action-button" (click)="edit(item)">EDIT</span>
            </div>
      </ng-template>

      
  </div>
  <div *ngIf="items[1].isClicked" >
  
      <div *ngIf="liveDataLength === 0;then live_content else other_live_content">here is ignored</div>    
      <ng-template #live_content>
          <div class="no-rows"> No Live surveys</div>
      </ng-template>
      <ng-template #other_live_content>
          
            <div *ngFor="let item of liveData" >


                <ion-item >
                    <ion-label>
                      <h2 class="survey-name">{{item.surveyname}}</h2>
                      <p class="survey-venue">{{item.surveyvenue}}</p>
                      <p class="survey-date">{{item.surveydate | date: 'dd/MMM/yyyy'}} - {{item.servicetype}}</p>
                     <p class="stop-survey"><ion-button color="danger" (click)="stopSurvey(item)"> Stop Survey</ion-button></p> 

                    </ion-label>
                    <ion-icon name="arrow-forward" item-right (click)="results(item)"></ion-icon>
                  </ion-item>

              </div>
      </ng-template>
  </div>
  <div *ngIf="items[2].isClicked" >
      <div *ngIf="closeDataLength === 0;then close_content else other_close_content">here is ignored</div>    
      <ng-template #close_content>
          <div class="no-rows">No completed surveys</div>
      </ng-template>
      <ng-template #other_close_content>
          <div *ngFor="let item of closeData" >
            <ion-item (click)="results(item)">
                <ion-label>
                  <h2 class="survey-name">{{item.surveyname}}</h2>
                  <p class="survey-venue">{{item.surveyvenue}}</p>
                  <p class="survey-date">{{item.surveydate | date: 'dd/MMM/yyyy'}} - {{item.servicetype}}</p>
                </ion-label>
                <ion-icon name="arrow-forward" item-right ></ion-icon>
              </ion-item>

            </div>
      </ng-template>




   




    </div>
  
  </ion-content>