<ion-content>

  <div class="wrapper">
    <div class="header"></div>
    <div class="main">


      <form [formGroup]="submitForm">
        <div class="row2">
          <ion-input placeholder="Enter Survey Code" formControlName="surveycode" class="input-text-align"></ion-input>
        </div>
        <div class="row3">
          <ion-row center>
            <ion-col text-center>
              <ion-button expand="block" fill="solid" shape="round" class="button-align" (click)="onSubmit()"
                type="button" name="action" color="primary">START SURVEY</ion-button>
            </ion-col>
          </ion-row>
        </div>

      </form>

    </div>
    <div class="footer">
      <img (click)="signin()" src="/assets/images/home.svg" width="36px" height="36px">
    </div>

  </div>

</ion-content>