.wrapper {



    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 100%;


    .header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr 1fr;
        background-color: #f8c045;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        .row1 {
            display: grid;
            justify-content: center;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
            color: #ffffff;
        }

        .row2 {
            display: grid;
            justify-content: center;
            justify-self: center;
            align-items: center;
            font-size: 0.8rem;
        }

        .row3 {
            display: grid;
            justify-content: center;
            justify-self: center;
            align-items: center;
            font-size: 0.8rem;
        }
       

    }

    .main {
        display: grid;
        background-color: #ffffff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        grid-template-rows:  60px 60px 1fr auto 60px;
        background-image: url('/assets/food-bg.jpg');


        .row1,
        .row2,
        .row3
            {
            justify-content: center;
            align-self: center;
            text-align: center;
        }
        .row4 {
            display: grid;
            justify-content: right;
            justify-self: right;
            align-items: right;
            font-size: 0.8rem;
            color: blue;
        }
        .error {
            display: grid;
            justify-content: center;
            justify-self: center;
            align-items: center;
            font-size: 0.8rem;
            color: red;
        }


        .row1 {
            .label { 
                width: 100%;
                text-align: right;

                display: grid;
                padding-right: 65%;
                padding-top: 1rem;

                color: #000000;
                font-weight: 400;
            }

        }

        .row3 {
           
        }


    }


    .fill {
        overflow: hidden;
        background-size: cover;
        background-position: center;
        // background-image: url('path/to/image.jpg');
    }

    .input-text-align {
        width: 60%;

        display: inline-block;
        border-bottom: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        text-align: left;
        padding-left: 10px !important;
    }

    .button-align {
        width: 60%;
        margin: 0 auto;
    }

    .small-textbox {
        width: 50px !important;

    }

    .text {
        padding-left: 30px;
        padding-right: 30px;
    }

}


.medium-title {
    font-size: 1.2rem;
    justify-self: center;
  }


input{
    padding: 10px;
    margin: 4px;
    border: 1px solid #ddd;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 30px;
}

.small-font {
  font-size: 0.8rem !important;
}

.result {
    display: grid;
    font-size: 1rem;
    color: red;
    padding: 1rem;
    text-align: center;
}

.msg {
    display: grid;
    text-align: center;
}

.sign-in{
    padding: 0.3rem;
    border: 1px solid grey;
    font-size: 0.9rem;
    color: blue;
    border-radius: 3px;
    margin-right: 1rem;
}  